.wgt-end {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 50px;
    font-size: 20px;
    background: #fcd423;
    text-align: center;
    color: #fff;
    .score {
        font-size: 28px;
        font-weight: 900;
        color: #321;
    }
}
