<div class="wgt-end">
    <p>经鉴定，您是:</p>
    <p class="score">
        <#=level#>
        LV<#=score#>
    </p>
    <a id="try-again" class="btn btn-primary btn-lg">再次挑战</a>
    <a class="js-share btn btn-success btn-lg">炫耀一下</a>
    <p><a href="https://github.com/yanhaijing/color/issues" target="_blank">提个建议</a></p>

</div>
