<div class="wgt-share pop">
    <div class="pop-content js-pop-content">
        <header>
            <h2>分享</h2>
        </header>
        <div class="pop-body">
            <p class="share-btn clearfix">
                <a id="share-weibo" class="js-share-btn share-btn-weibo clearfix" href="http://service.weibo.com/share/share.php?<#=weibo#>" target="_blank">
                    <span>微博</span><em></em>
                </a>
                <a id="share-qq" class="js-share-btn share-btn-qq clearfix" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?<#=qzone#>" target="_blank">
                    <span>空间</span><em></em>
                </a>
                <a id="share-weixin" class="share-btn-weixin clearfix">
                    <span>微信</span><em></em>
                </a>
            </p>
        </div>
        <footer>
            <a class="btn btn-success js-close-pop">关闭</a>
        </footer>
    </div>
</div>
