<div id="wgt-weixin" class="wgt-weixin">
    <div class="qr">
        <div class="img"></div>
    </div>
    <div class="step1 step">
        <span class="num">1</span>
        <div>扫描上方二维码</div>
        <div class="img"></div>
    </div>
    <div class="step2 step">
        <span class="num">2</span>
        <div>点击右上角分享按钮</div>
    </div>
    <div class="step3 step">
        <span class="num">3</span>
        <div>分享给好友或朋友圈</div>
    </div>
</div>
