<#for (var i = 0; i < list.length; i++) {#>
<div class="block" data-index="<#=i#>" style="width: <#=width#>;">
    <div class="block-inner" style="background-color: #<#=list[i] ? color2 : color1#>"></div>
</div>
<#}#>
